<div class="main-content">
{{>header}}
<h3>you can use this app to search the weather</h3>

<form action="">
    <input type="text" name="" placeholder="Location" id="">
    <button>submit</button>
</form>
<p id="msg-1"></p>
<p id="msg-2"></p>

</div>
<div class="footer">
{{>footer}}
</div>
