<div class="main-content">
{{>header}}

<h2>This app use two api </h2>
<ol>
    <li>
        <p>makbox for getting the longitude and latitude of the location</p>
    </li>
    <li>
        <p> darksky to access the weather details</p>
    </li>
    <li>
        <p>link to get the json formet of the application <a href="/address?addres=mumbai"> link</a> by default it is set to mumbai</p>
    </li>
</ol>


</div>

<div class="footer">
{{>footer}}
</div>
